<div class="row">
  <div class="col-sm-2 {% if entry.preview %}preview{% else %}abbr{% endif %}">
    {%- if entry.preview -%}
      {% if entry.preview contains '://' -%}
        <img class="preview z-depth-1 rounded" src="{{ entry.preview }}">
      {%- else -%}
        {%- assign entry_path = entry.preview | prepend: '/assets/img/publication_preview/' -%}
        {% include figure.html
          path=entry_path
          class="preview z-depth-1 rounded"
          alt=entry.preview -%}
      {%- endif -%}
    {%- elsif entry.abbr -%}
      {%- if site.data.venues[entry.abbr] -%}
        <abbr class="badge">
          <a href="{{site.data.venues[entry.abbr].url}}">{{entry.abbr}}</a>
        </abbr>
      {%- else -%}
        <abbr class="badge">{{entry.abbr}}</abbr>
      {%- endif -%}
    {%- endif -%}
  </div>

  <div id="{{entry.key}}" class="col-sm-8">
    <!-- title / author / journal / links -->
